.mainpage {
    width: 100vw;
    height: 100vh;
    background: url("https://ik.imagekit.io/eshoppingzone1234/sale1_-OLOQ4vw8.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1651521333185"); 
     background-size: 100vw;
    background-color: #EAEDED;
}
