.Makeup__main {
    height: 380px;
    min-width: 335px;
    background: khaki;
    margin: 10px;
}

.Makeup__header {
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding:15px
}
.Makeup__body {
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
}
.Makeup__footer {
    padding: 15px;
}